<a href="https://colab.research.google.com/github/KunalRoutray/MachineLearning-Practice-with-Python/blob/main/1_Practical_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

kunal routray

2341018202

# Example-1

Create the following dataframe.
Encode colour by Label Encoder method[Use LabelEncoder module from sklearn.preprocessing]
Encode colour by One Hot Encoder method[Use OneHotEncoder module from sklearn.preprocessing]

**1.create dataframe**

Create a dataframe using pandas dataframe with "Colour" columns.

In [ ]:
import pandas as pd
data={'colour':['red','blu','green','blu','red']}
df=pd.DataFrame(data,columns=['colour'])
print(df)

  colour
0    red
1    blu
2  green
3    blu
4    red

**2.encode 'colour' column by label encoding**

Label Encoding Label Encoding is a technique used to convert categorical data into numerical form. It assigns a unique integer to each
unique category in a column.
For example, if you have a column with colors like 'Red', 'Blue', 'Green', Label Encoding might assign:
'Green' -> 0 'Blue' -> 1 'Red' -> 2

In [ ]:
from sklearn.preprocessing import LabelEncoder
#label encoding
le=LabelEncoder()
df['colour']=le.fit_transform(df['colour'])
print(df)

   colour
0       2
1       0
2       1
3       0
4       2

**3.encode 'colour' column by one hot encoding**

One-Hot Encoding creates new binary columns for each category in a categorical variable, indicating the presence or absence of that
category with 1s and 0s

In [ ]:
from sklearn.preprocessing import OneHotEncoder
#onr hot encoding
ohe=OneHotEncoder(sparse_output=False)
encoded=ohe.fit_transform(df[['colour']])
# convert to data frame
encoded_df=pd.DataFrame(encoded,columns=ohe.get_feature_names_out(['colour']))
print(encoded_df)

# convert to data frame
encoded_df=pd.DataFrame(encoded,columns=['blue','green','red'])
print(encoded_df)

   colour_0  colour_1  colour_2
0       0.0       0.0       1.0
1       1.0       0.0       0.0
2       0.0       1.0       0.0
3       1.0       0.0       0.0
4       0.0       0.0       1.0
   blue  green  red
0   0.0    0.0  1.0
1   1.0    0.0  0.0
2   0.0    1.0  0.0
3   1.0    0.0  0.0
4   0.0    0.0  1.0

# Example-2

Generate an array[0,1,2,3,....,10].
Split this array by Kfold cross validation method with 5 fold,and in each iteration print train data and test data.
Do as like above by Stratified Kfold cross validation.

**1.Generate an array**

It creates an array X with numbers from 0 to 10

In [ ]:
import numpy as np
X=np.arange(11) #dummy features
print(X)

[ 0  1  2  3  4  5  6  7  8  9 10]

**2.split data by k fold cross verification**

K-Fold cross-validation is a technique to evaluate a model's performance by splitting the dataset into k subsets (folds), training the model
on k-1 folds and testing on the remaining fold, and repeating this process k times to average performance matrices

In [ ]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=5,shuffle=True,random_state=42)
for fold,(train_idx,test_idx) in enumerate(kf.split(X),1):
    print(f"Fold {fold}:")
    print(f"Train: {[train_idx]}")
    print(f"Test: {test_idx}")

Fold 1:
Train: [array([ 1,  2,  3,  4,  6,  7,  8, 10])]
Test: [0 5 9]
Fold 2:
Train: [array([0, 1, 3, 4, 5, 6, 7, 8, 9])]
Test: [ 2 10]
Fold 3:
Train: [array([ 0,  2,  3,  4,  5,  6,  7,  9, 10])]
Test: [1 8]
Fold 4:
Train: [array([ 0,  1,  2,  3,  5,  6,  8,  9, 10])]
Test: [4 7]
Fold 5:
Train: [array([ 0,  1,  2,  4,  5,  7,  8,  9, 10])]
Test: [3 6]

**3.split data by stratified k fold cross validation**

Stratified K-Fold cross-validation is a variation of K-Fold that ensures each fold has approximately the same proportion of observations
with a given target variable as the entire dataset, which is particularly useful for imbalanced datasets

In [ ]:
from sklearn.model_selection import StratifiedKFold
X=np.arange(11) #dummy features
y=np.array([0,0,1,1,0,1,0,1,0,1,0])# target labels - corrected to 11 elements
skf=StratifiedKFold(n_splits=5,shuffle=True,random_state=42)
for fold,(train_idx,test_idx) in enumerate(skf.split(X,y),1):
    print(f"Fold {fold}:")
    print(f"Train: {[train_idx]}")
    print(f"Test: {test_idx}")

Fold 1:
Train: [array([ 2,  3,  4,  5,  6,  8,  9, 10])]
Test: [0 1 7]
Fold 2:
Train: [array([ 0,  1,  2,  4,  5,  7,  8,  9, 10])]
Test: [3 6]
Fold 3:
Train: [array([0, 1, 2, 3, 4, 6, 7, 8, 9])]
Test: [ 5 10]
Fold 4:
Train: [array([ 0,  1,  3,  4,  5,  6,  7,  9, 10])]
Test: [2 8]
Fold 5:
Train: [array([ 0,  1,  2,  3,  5,  6,  7,  8, 10])]
Test: [4 9]

# Example-3

Create the following dataframe.Create a new column with the following rule: "Child" if Age is less than 12."Teenage" if Age is between 12 & 18 ."Young Adult" if age is betwween 18 & 35 ."Adult" if age is between 35 & 60 and "Senior" if age is more than 60.

**1.creating data frame**

In [ ]:
import pandas as pd
data={'age':[5,12,17,25,36,45,59,62,75,89]}
df=pd.DataFrame(data,columns=['age'])
print(df)

   age
0    5
1   12
2   17
3   25
4   36
5   45
6   59
7   62
8   75
9   89

**Ex--encode the age column to categorical data (by binning)**

In [ ]:
import pandas as pd


bins = [0, 12, 18, 35, 60,100]
labels = ['child', 'teen age', 'young age', 'adult', 'senior']


df['category'] = pd.cut(df['age'], bins=bins, labels=labels)

print(df)

   age   category
0    5      child
1   12      child
2   17   teen age
3   25  young age
4   36      adult
5   45      adult
6   59      adult
7   62     senior
8   75     senior
9   89     senior

**2.Four Binning Method**

1.Equal-Width Binning (Fixed Interval Binning): Divides the range of the data into a fixed number of bins of equal size. 2.Equal-Frequency
Binning (Quantile Binning): Divides the data such that each bin contains approximately the same number of observations. 3.Custom
Binning (User-Defined Bins): Allows you to define the boundaries of each bin based on specific criteria or domain knowledge.
4.Clustering-Based Binning (K-Means): Uses a clustering algorithm (like K-Means) to group data points into bins based on their similarity.

In [ ]:
#Equal-Width Binning(Fixed Interval Binning)

df["EqualWidth_Bin"]=pd.cut(df["age"],bins=5)

#Equal-Frequency Binning(Quantile Binning)
df["EqualFrequency_Bin"]=pd.qcut(df["age"],q=5)

# Custom Binning(User-Defined Bins)
bins=[0,12,18,35,60,100]
labels=['child' ,'teenage' ,'young adult' ,'Adult' ,'Senior']
df['CustomBin']=pd.cut(df['age'],bins=bins,labels=labels)

#Clustering-Based Binning(K-Means)
from sklearn.cluster import KMeans
import numpy as np
age_array=np.array(df["age"]).reshape(-1,1)
kmeans=KMeans(n_clusters=5,random_state=42,n_init=10) # Added n_init
df["ClusterBin"]=kmeans.fit_predict(age_array)
print(df)

   age EqualWidth_Bin EqualFrequency_Bin    CustomBin  ClusterBin
0    5  (4.916, 21.8]      (4.999, 16.0]        child           2
1   12  (4.916, 21.8]      (4.999, 16.0]        child           2
2   17  (4.916, 21.8]       (16.0, 31.6]      teenage           0
3   25   (21.8, 38.6]       (16.0, 31.6]  young adult           0
4   36   (21.8, 38.6]       (31.6, 50.6]        Adult           4
5   45   (38.6, 55.4]       (31.6, 50.6]        Adult           4
6   59   (55.4, 72.2]       (50.6, 64.6]        Adult           1
7   62   (55.4, 72.2]       (50.6, 64.6]       Senior           1
8   75   (72.2, 89.0]       (64.6, 89.0]       Senior           3
9   89   (72.2, 89.0]       (64.6, 89.0]       Senior           3

# Example-4

Create the following dataframe.Replace "Age" column NaN value by column mean.Replace "City" column NaN value by "Unknown".Replace "Age" column NaN value by column median,mode,standard deviation.

**1. Create dataframe.**

In [ ]:
import pandas as pd
import numpy as np
data={'Name':['Alice',' Bob',' Charlie',' David','Eve'],
'Age':['25','NaN','30','NaN','22'],
'City':['NY','LA',np.nan,'SF',np.nan]}
df=pd.DataFrame(data,columns=["Name","Age","City"])
# Convert 'Age' column to numeric, coercing errors to NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
print("Original DataFrame:")
print(df)

Original DataFrame:
       Name   Age City
0     Alice  25.0   NY
1       Bob   NaN   LA
2   Charlie  30.0  NaN
3     David   NaN   SF
4       Eve  22.0  NaN

**2. Replace NaN in 'Age' column by "Column Mean."**

In [ ]:
df["Age"]=df["Age"].fillna(df["Age"].mean())
print("\nDataFrame after replacing Age NaN with Mean:")
print(df)

DataFrame after replacing Age NaN with Mean:
       Name        Age City
0     Alice  25.000000   NY
1       Bob  25.666667   LA
2   Charlie  30.000000  NaN
3     David  25.666667   SF
4       Eve  22.000000  NaN

**3. Replace NaN in 'City' column with 'Unknown'.**

In [ ]:
df["City"]=df["City"].fillna("Unknown")
print("\nDataFrame after replacing City NaN with Unknown:")
print(df)

DataFrame after replacing City NaN with Unknown:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown

**4. Replace "Age" column NaN value by "Column Median,Mode,Standard Deviation".**

It demonstrates different techniques for handling missing values in a DataFrame, specifically replacing them with the mean, median,
mode, standard deviation, or a custom value like 'Unknown'.

In [ ]:
# Replace NaN in 'Age' column by column median
df["Age"]=df["Age"].fillna(df["Age"].median())
print("\nDataFrame after replacing Age NaN with Median:")
print(df)
# Replace NaN in 'Age' column by column mode
df["Age"]=df["Age"].fillna(df["Age"].mode()[0])
print("\nDataFrame after replacing Age NaN with Mode:")
print(df)
# Replace NaN in 'Age' column by column standard deviation (Note: This is not a typical imputation method)
df["Age"]=df["Age"].fillna(df["Age"].std())
print("\nDataFrame after replacing Age NaN with Standard Deviation:")
print(df)

DataFrame after replacing Age NaN with Median:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown

DataFrame after replacing Age NaN with Mode:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown

DataFrame after replacing Age NaN with Standard Deviation:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown